@tailwind base;
@tailwind components;
@tailwind utilities;

.rc-pagination {
    display: flex;
    gap: 4px;
    justify-content: center;
}

.rc-pagination-item {
    width: 3ch;
    text-align: center;
    padding-bottom: 2px;
    background-color: #222222;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.rc-pagination-item:hover {
    background-color: #444444;
    cursor: pointer;
}

.rc-pagination-item-active {
    background-color: #333333;
}

.hidden-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.hidden-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.input-field {
    @apply w-full rounded-md bg-neutral-800 focus:bg-neutral-700 px-3 py-1 font-mono h-8
}

.input-text {
    @apply hidden-scrollbar h-full w-full resize-none rounded-md bg-neutral-800 px-2 py-1 font-mono text-white focus:bg-neutral-700
}